.title {
  color: rgb(0, 193, 35);
  text-decoration: none;
  font-size: 60px;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title span {
  color: #0070f3;
}

.title,
.description {
  text-align: center;
}